form{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

input{
    padding: 8px 12px;
    outline: none;
    margin-bottom: 1rem;
}
button{
    
    border: none;
    padding: 0.65rem;
    background-color: red;
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    font-weight: 200;
}

button:hover{
    transform: scale(1.1);
    font-weight: 600;
}