.current{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
} 
p{
    text-align: center;
}

span{
    font-size: 24px;
    font-weight: bold;
}
.temperature{
    display: flex;
    flex-direction: row;
}
.icon{
    padding: 18px;
}

.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .temperature h1{
        font-size: 4rem;
    }

    .temperature h3{
        font-weight: bolder;
        font-size: 2.5rem;
    }
    .icon{
      
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon img{
        width: 50%;
        margin-top: 12px;
    }
}