.item{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    
} 

.item__name{
    text-transform: uppercase;
    padding: 8px;
}


