.currentday{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 675px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    
}

.top-right{
    display: flex;
 }

 @media only screen and (max-width: 676px) {
    .currentday{
        width: 90%;
        
    }
    
 
    .top{
        display: flex;
        flex-wrap: wrap;
    }

    .top-left{
        width: 100%;
    }

    .top-right{
        border-top: 1px solid gray;
        margin-top: 10px;
    }

 }
