.currentday{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    max-width: 675px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.top-right{
 background-color: blueviolet;
 display: flex;
 
}

.botton{
    background-color: burlywood;
}