*{
  margin:0;
  padding:0;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  max-width: 675px;
  min-height: 300px;
  background-color: blueviolet;
  position: relative;
}

main{
  margin-top: 4rem;
}