*{
  margin:0;
  padding:0;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  max-width: 675px;
  min-height: 360px;
  background-color:#fff;
  position: relative;
  border-radius: 12px;
}

main{
  margin-top: 4rem;
}

@media only screen and (max-width: 600px) {
  .App{
    width: 90%;
  }
}